{% extends 'components/layout/adminLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">
<link rel="stylesheet" href="{% static 'css/create_product.css' %}">
{% endblock %}
{% block content %}
<div class="container-admin">
    {% include 'components/components/breadcrumb.html' with title1="Danh sách sản phẩm" title2="Thêm sản phẩm mới" %}
    <div class="card">
        <h2>Tạo mới sản phẩm</h2>
        <div class="btn-group mb-3">
            <button class="btn btn-success">📁 Thêm nhà cung cấp</button>
            <button class="btn btn-success">📂 Thêm danh mục</button>
        </div>
        <form id="createProductForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <label>Slug</label>
                    <input type="text" name="slug" class="form-control" required>
                </div>
                <div class="col">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>Danh mục</label>
                    <select name="category_id" class="form-select" required>
                        <option value="">Chọn danh mục</option>
                    </select>
                </div>
                <div class="col">
                    <label>Nhà cung cấp</label>
                    <select name="brand_id" class="form-select" required>
                        <option value="">Chọn nhà cung cấp</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2 img">
                <div class="col img">
                    <label>Ảnh sản phẩm</label>
                    <div class="btn btn-dark ">
                        <span class="material-symbols-outlined">add_photo_alternate</span>
                        <span>Chọn ảnh</span>
                    </div>
                    <input type="file" name="img" class="btn btn-dark" id="file" required multiple>
                </div>
                <div class="imgContainer">
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <h2>Tạo mới phiên bản</h2>
        <form action="">
            <div class="row">
                <div class="col">
                    <label for="nameVersion1">Tên phiên bản</label>
                    <input type="text" id="nameVersion1" class="form-control" required>
                </div>
                <div class="col">
                    <label for="priceVersion1">Giá phiên bản</label>
                    <input type="text" id="priceVersion1" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="quantity1">Kho</label>
                    <input type="number" id="quantity1" class="form-control" required min="0">
                </div>
                <div class="col">
                    <label for="color1">Màu sắc</label>
                    <input type="text" id="color1" class="form-control" required min="0">
                </div>
            </div>
            <div class="row mt-2 img">
                <div class="col img">
                    <label>Ảnh sản phẩm</label>
                    <div class="btn btn-dark ">
                        <span class="material-symbols-outlined">add_photo_alternate</span>
                        <span>Chọn ảnh</span>
                    </div>
                    <input type="file" name="img" class="btn btn-dark" id="file1" required multiple>
                </div>
                <div class="imgContainer">
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                    <div class="imgBox">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </form>
        <div class="addDetail">
            <span class="material-symbols-outlined">add</span>
            <span>Thêm chi tiết sản phẩm</span>
        </div>
    </div>
    <div class="addOption" id="add-option-btn">
        <span class="material-symbols-outlined">add</span>
    </div>
</div>
<div class="popUp addNewDetail">
    <div class="containerPopup">
        <div class="row">
            <label for="newDetail">Tên chi tiết mới </label>
            <input type="text" id="newDetail" class="form-control">
        </div>
        <div class="row buttonBox">
            <button>Lưu</button>
            <button>Hủy</button>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/admin/create_product.js' %}"></script>
{% endblock %}
