{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sửa sản phẩm</title>
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}">
</head>
<body>
<div class="flex w-full overflow-x-hidden">
    {% include 'page/admin/sidebar_admin.html' %}
    <div class="container-admin">
        <div class="breadcrumb">Danh sách sản phẩm > <strong>Sửa sản phẩm</strong></div>

        <div class="card">
            <h2>Sửa sản phẩm</h2>
            <form id="editProductForm" method="POST" >
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label>Mã sản phẩm</label>
                        <input type="text" name="slug" class="form-control" value="{{ product.slug }}" readonly>
                    </div>
                    <div class="col">
                        <label>Tên sản phẩm</label>
                        <input type="text" name="name" class="form-control" value="{{ product.name }}">
                    </div>
                </div>
                <div class="mt-4">
                    <label>Mô tả sản phẩm</label>
                    <br/>
                    <textarea id="description" name="description">{{ product.description }}</textarea>
                </div>
                <div class="mt-4">
                    <div id="message" style="margin-top: 10px; font-weight: bold;"></div>
                    <button type="submit" class="btn btn-success" id="submitProduct" data-product-id="{{ product.id }}">Sửa</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'quantri-dashboard-products' %}'">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="successToast" class="toast" style="display: none;">
    Sửa sản phẩm thành công!
</div>


<script src="{% static 'js/admin/edit_product.js' %}"></script>
</body>
</html>
