{% extends 'components/layout/adminLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_order_detail.css' %}">
{% endblock %}
{% block content %}
<div class="adminContainer">
    {% include 'components/components/breadcrumb.html' with title1="Quản lý đơn hàng" title2="Chi tiết đơn hàng" %}
    <div class="order-detail-container">
        <div class="customer-info" id="customer-info"></div>
        <div class="order-items" id="order-items"></div>
        <div class="total-price" id="total-price"></div>
    </div>
    <div class="form-cancelled">
        <div class="input-group">
            <label for="reason">Lí do hủy hàng</label>
            <input type="text" id="reason" placeholder="Nhập lí do hủy hàng">
        </div>
        <div class="input-group">
            <label for="note">Ghi chú (nếu có)</label>
            <textarea name="" id="note" rows="3" placeholder="Ghi chú(nếu có)"></textarea>
        </div>
    </div>
    <div class="buttonBox">
        <button class="cancelButton active">Hủy đơn hàng</button>
        <button class="submit">Lưu</button>
        <button class="back">Hủy</button>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="module" src="{% static 'js/admin/admin_order_detail.js' %}"></script>
{% endblock %}
