{% block content %}
<footer>
    <div class="container-footer">
        <div class="content">
            <div class="col">
                <h1>SmartBuy</h1>
                <p>Liên hệ </p>
                <div class="contact">
                    <span class="material-symbols-outlined">call</span>
                    <div class="phone">
                        <p>Số điện thoại</p>
                        <p>+84 245 68 436</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>Danh mục phổ biến</p>
                <ul>
                    <li>iPhone</li>
                    <li>Samsung</li>
                    <li>Oppo</li>
                    <li>Pin dự phòng</li>
                    <li>Tai nghe</li>
                </ul>
            </div>
        </div>
        <div class="copy-right">
            <p>© 2025 Bản quyền thuộc về SmartBuy</p>
        </div>
    </div>
</footer>
{% endblock %}