<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header">
      <div class="container">
        <h1 class="logo">SmartBuy</h1>
        <div class="search">
          <label class="material-symbols-outlined" for="search">search</label>
          <input type="text" name="search" id="search" placeholder="Tìm kiếm" />
        </div>
        <div class="box">
          <div class="cart">
            <span class="material-symbols-outlined">shopping_cart</span>
            <p>Giỏ hàng</p>
          </div>
          <div class="user">
            <span class="material-symbols-outlined">person</span>
            <p>Đăng nhập</p>
          </div>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>

