{% block content %}
<div class="product-item">
    <div class="header">
        {% if product.discount %}
        <div class="discount">
            Giảm 51%
        </div>
        {% endif %}
    </div>
    <div class="product-image">
        <a href="{% url 'detail' slugCategory=product.slugCategory slugProduct=product.slugProduct %}">
            <img src="{{product.img}}">
        </a>
    </div>
    <div class="name-product">
        <a href="{% url 'detail' slugCategory=product.slugCategory slugProduct=product.slugProduct %}">
            <p>{{product.name}}</p>
        </a>
    </div>
    <div class="price">
        <span style="color: red; font-weight: 600;">{{product.price}}đ</span>
        {% if product.discount %}
        <span style="color: rgb(153, 153, 153); font-weight: 600; text-decoration: line-through;">{{product.old_price}}</span>
        {% endif %}
    </div>
</div>
{% endblock %}