{% block content %}
<div class="product-container">
    <img src="https://s3-alpha-sig.figma.com/img/b58a/b02c/285d7b791bedb56f10845901a8926d68?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ox~tm1kX20xXu9tMvEDwquMr3F9PccCx5BI40WpOLAtYhnmxCi02DNKIpK0TlOx4K-hbQb9cFNXKA6QoZvtBfA-mtX0pbbWF1zAurujs8XBIPExvgZesNngTGL~AtWUZwB7KGI1UP2b3lly-rvzszVS8T2oAujKy0quEQFeGXdCdbGQ4vsc7x5CpUcYiQqdiKWLUr0-yp-nZ6ibniI5Mi7k3x5FyOnw59s68ZG1LkZVaOs4EuzXin3B1CLNlVc-ZVx52YvO5Z0XaicVrtKgnXZzwuBzWBiD8dymt32QMZJuseKSSLK8~BQ-kvml1VoP9Xe~GYO-oocwXGjZ0PLnY9w__" alt="">
    <div class="product-details">
        <p class="product-name">Samsung Galaxy S25 Ultra 256GB - Đen</p>
        <div class="price-container">
            <p class="product-price">29.490.000đ</p>
            <p class="original-price">32.000.000đ</p>
            <div class="quantity">
                <button>-</button>
                <input type="text" value="1">
                <button>+</button>
            </div>
        </div>
    </div>
    <i class="material-symbols-outlined delete">delete</i>
</div>
{% endblock %}
