{% block content %}
<div class="product-item">
    <div class="header">
        <div class="discount">
            Giảm 51%
        </div>
        <div class="installment">
            Trả góp 0%
        </div>
    </div>
    <div class="product-image">
        <a href="{% url 'detail' 'name' %}">
            <img src="https://s3-alpha-sig.figma.com/img/e867/7de7/7ddabb62dd6880a5800447feaefa167c?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Kc1etZdwFHeV6evF8Ry5qWhnOj2xtMCtilJl1gEgrp-itr7sI8DOCf52ucdl1YFPS605zwlnJaG584yVDlCzQtoR7NoIG430CCca7R0Nq8Zr8Naa2Pg~MssUU9uRgRjQ7Bl3N0vnsM0tQWwfX3uZqQjsZmtOvBIkFWCupdwuzd4EzNy2tlrduJ2X8FE6xpjTbB-NRmt09rlwj9PY~rEIJL27acBf1RTtibuV7krIiDJOAWKJn10KgxF3C3kULcJd2b-X0nbgvjUXhN3cMgoEsPVjUJEhwPZO~BvsI4diYU~KUDRJLGdXCIktAPVkml3BaFGSDxrbq41D-jINTX5pHw__">
        </a>
    </div>
    <div class="name-product">
        <a href="{% url 'detail' 'name' %}">
            <p>iPhone 16 Pro Max 256GB - Chính hãng VN/A</p>
        </a>
    </div>
    <div class="price">
        <span style="color: red; font-weight: 600;">31.290.000đ</span>
        <span style="color: rgb(153, 153, 153); font-weight: 600; text-decoration: line-through;">32.990.000đ</span>
    </div>
</div>
{% endblock %}