{% block content %}
<div class="product-item">
    <div class="header">
        <div class="discount">
            Giảm 51%
        </div>
        <div class="installment">
            Trả góp 0%
        </div>
    </div>
    <div class="product-image">
        <img src="./asset/400291111.jpeg">
    </div>
    <div class="name-product">
        <div>iPhone 16 Pro Max 256GB |</div>
        <div>Chính hãng VN/A</div>
    </div>
    <div class="price">
        <span style="color: red; font-weight: 600;">31.290.000đ</span>
        <span style="color: rgb(153, 153, 153); font-weight: 600; text-decoration: line-through;">32.990.000đ</span>
    </div>
</div>
{% endblock %}