{% block content %}
<div class="reviewItem">
    <div class="imgBox">
        <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/non_2x/vector-users-icon.jpg" alt="">
    </div>
    <div class="content">
        <p class="name"><strong>Người dùng ẩn danh</strong></p>
        <div class="starBox">
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
          </div>
        <div class="dateAndCategory">
            <p class="date">2025-02-6</p>
            <p class="category">
                 Phân loại hàng: Titac Đen
            </p>
        </div>
        <div class="summaryBox">
            <div class="quality">
                <p>Chất lượng sản phẩm:</p>
                <p>Chất lượng tốt</p>
            </div>
            <div class="description">
                <p>Đúng với mô tả:</p>
                <p>Đúng</p>
            </div>
            <div class="quality">
                <p>Tính năng nổi bật:</p>
                <p>Tốt</p>
            </div>
        </div>
        <p class="mainContent">Shop giao hàng nhanh, đóng gói kỷ. Có tem niêm phong ngoài hộp cứng và tem niêm phong hộp máy</p>
        <div class="imgReviewBox">
            <img src="https://s3-alpha-sig.figma.com/img/2c8b/7ab7/9899c5cfa77797a24908eebe20033b7d?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=g9pB4~FxU1FBaWYGGm3TrFpQnYI5M8kAtCdk7Tk9G6xv2VpDlq59P6JdWSD7VrqsACi3fTUbhvIkgqvpnqSEOjStTWZrRoohp5m3oKaQ5ZA8TQy3RQHGRHgb62FMQWqQVe-zX2-GFqZ4B~SAqnOh9Eu8hv8TGmhts2mFZqsqV2svykxFo63yICHbHuU6p5wYnq24jqFi4laYnBGAkMcKw3Scyke9367IRjIS65vTJ9iW4KYLdfTD2v4-L3hwtWVZmDoNQmjKjRWEbyNrzXTqTxJvmIiphEyDu65gma8nL~AUndkaQjTXnuaa13STOYDuoZfEMllbSmMcW6hOeefhXg__" alt="">
            <img src="https://s3-alpha-sig.figma.com/img/09f6/fe80/4cb373ead2d312057f8df1cc18b96def?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=L7ZZE441Imku-KN4d3QjCMUyW8bTHDi~R58zPqIRDdw4Z08HLYKNuC6qa26ciyHmkMmcMwde56CXbMyO4znVB0QNjA59-fRH35zib2FkME3clXHVH7H4txcqPkBjSIQlqBEw4SzavhWXPcr9AKJWuySO39MAYo56GrmOKfIdeeHSVisgt7iMJBhT9Jxv1w1-lLbNlOFHN747bvM6p75BFGA1wHM5EXmUW1VTfNHPljCGrm0vEadAbtz~tUaRC1kjlGrb-NJSNmOKD50qgTaj9StwNBPkHoQkGz1EFfBX2jW7gWuvBtUOlRpana4Mfr4grbD6CG~Xnw3UoEwrlL8Y7g__" alt="">
        </div>
        <div class="favouriteBox">
            <span class="material-symbols-outlined">thumb_up</span>
            <span>5</span>
        </div>
    </div>
</div>
{% endblock %}