{% load static %}
{% block content %}
<div class="sidebarAdminContainer">
    <div class="logoContainer">
        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
        <p>SMART BUY</p>
    </div>
    <div class="nav">
        <a href="/quantri/products/" class="box">
            <span class="material-symbols-outlined">inventory_2</span>
            <p>Quản lý sản phẩm</p>
        </a>
        <a href="/quantri/orders/" class="box">
            <span class="material-symbols-outlined">shopping_cart</span>
            <p>Quản lý đơn hàng</p>
        </a>
        <a href="/quantri/reviews/" class="box">
            <span class="material-symbols-outlined">groups</span>
            <p>Quản lý đánh giá</p>
        </a>
        <a href="/logout/" class="box">
            <span class="material-symbols-outlined">logout</span>
            <p>Đăng xuất</p>
        </a>
    </div>
</div>
{% endblock %}