{% block content %}
<div class="sub-menu">
        <div class="child-menu">
            <span class="material-symbols-outlined">phone_iphone</span>
            <span>Điện thoại</span>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
        <div class="child-menu">
            <span class="material-symbols-outlined">power</span>
            <span>Phụ kiện</span>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
        <div class="child-menu">
            <span class="material-symbols-outlined">headphones</span>
            <span>Tai nghe</span>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
 </div>
{% endblock %}