main{
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 50px;

}
.changePasswordContainer{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 24px;
}
main h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

main .input-group {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 10px;
  width: 100%;
  padding-bottom: 6px;
}
.error-message{
    color: red;
    grid-column: 2/4;
}
main .input-group label {
  font-size: 18px;
}

main .input-group input {
  border: none;
  outline: none;
  font-size: 18px;
  background: transparent;
  flex: 1;
}

main button {
  margin-top: 30px;
  background-color: #1e2a63;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: #2f3b85;
}