main > * {
  max-width: 1024px;
  padding: 30px 50px;
  margin: 0 auto;
}
.productBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.productBox .imgBox {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.productBox .imgBox img {
  width: 100%;
}
.productBox .detail > * {
  margin-bottom: 15px;
}
.productBox .detail .reviewBox {
  display: flex;
}
.productBox .detail .reviewBox .rating {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid rgba(195, 193, 193, 1);
  display: flex;
  gap: 10px;
  align-items: center;
}
.productBox .detail .reviewBox .rating .starBox .active{
  color: rgba(255, 237, 37, 1);
}
.productBox .detail .reviewBox .comment {
  display: flex;
  align-items: center;
}
.productBox .detail .reviewBox .comment p {
  color: rgba(195, 193, 193, 1);
}
.productBox .detail .priceBox {
  text-align: center;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 5px;
  padding: 6px;
}
.productBox .detail .priceBox .afterDiscount {
  color: rgba(212, 26, 26, 1);
  font-weight: bold;
  font-size: 20px;
}
.productBox .detail .priceBox .beforeDiscount {
  color: rgba(195, 193, 193, 1);
}
.productBox .detail .categoryBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
}
.productBox .detail .categoryBox > p {
  grid-column: 1/4;
}
.productBox .detail .categoryBox .category{
    border-radius: 5px;
    border: 3px solid rgba(209, 206, 206, 1);
    padding: 6px 12px;
    text-align: center;
}
.productBox .detail .categoryBox a{
    text-decoration: none;
    color: black;
}
.productBox .detail .categoryBox .category.active{
        border: 3px solid #00957C;
}
.productBox .detail .colorBox.notSelected{
    background-color: #fff5f5;
    padding: 6px 12px ;
}
.productBox .detail .colorBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}
.productBox .detail .colorBox > p {
  grid-column: 1/3;
}
.productBox .detail .colorBox .color {
  text-align: right;
  padding: 6px 12px;
  border-radius: 5px;
  border: 3px solid rgba(209, 206, 206, 1);
  background-color: white;
}
.productBox .detail .colorBox .error-message{
    color: #ff424f;

}
.productBox .detail .colorBox .color.disabled{
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .09);
    color: rgba(0, 0, 0, .26);
}

.productBox .detail .colorBox .color.active{
        border: 3px solid #00957C;
}
.productBox .detail .quantityBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.productBox .detail .quantityBox .quantity{
  display: flex;
  p{
    padding: 4px 12px;
    border: 1px solid rgba(209, 206, 206, 1);
  }
  p:nth-child(2) {
    padding: 4px 24px;
    border-left: none;
    border-right: none;
  }
}
.productBox .detail .quantityBox .quantity.disabled p{
    color: #ccc;
    border-color: rgba(0, 0, 0, .09);
}

.productBox .detail .buttonBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.productBox .detail .buttonBox button:first-child {
  display: flex;
  align-items: center;
  border: 1px solid rgba(212, 26, 26, 1);
  background-color: rgb(252, 200, 200);
  color: rgba(215, 0, 24, 1);
  padding: 4px 8px;
  border-radius: 5px;
}
.productBox .detail .buttonBox button:last-child {
  border: none;
  border-radius: 5px;
  background-color: rgba(212, 26, 26, 1);
  color: white;
}
.contentBox > * {
  margin-bottom: 20px;
}
.detailsBox h3,
.descriptionBox h3,
.reviewBox h3 {
  background-color: rgba(245, 245, 245, 1);
}
.detailsBox > *, .detailsBox > * .detail,
.descriptionBox > *,
.reviewBox > * {
  margin-bottom: 10px;
  padding: 8px 16px;
}
.detailsBox .detail {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
}
.detailsBox .detail p:first-child {
  color: rgba(136, 135, 135, 1);
}
.descriptionBox p {
  line-height: 2;
}
.reviewBox .none{
    text-align: center;
    p{
        font-size: 20px;
    }
}
.reviewBox .menu {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 10px;
  padding: 12px;
  background-color: rgb(255, 226, 226);
  border: 1px solid rgba(255, 173, 173, 1);
}
.reviewBox .menu .rating {
  text-align: center;
}
.reviewBox .menu .rating .active{
  color: rgba(212, 26, 26, 1);
}
.reviewBox .menu .rating strong {
  font-size: 24px;
}
.reviewBox .menu .rating span {
  font-size: 14px;
}
.reviewBox .menu .filter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 10px;
}
.reviewBox .menu .filter button:nth-child(7) {
  grid-column: 1 / 3;
}

.reviewBox .menu .filter button:nth-child(8) {
  grid-column: 3 / 5;
}
.reviewBox .menu .filter button {
  padding: 2px;
  border: 1px solid rgba(209, 206, 206, 1);
  background-color: white;
  border-radius: 5px;
}
main .slider {
    position: relative;
    flex-grow: 1 ;
}
main .slider .viewport {
    overflow-x: hidden;
}
main .slider .listImg {
    display: flex;
    transition: 0.3s;
    transition: all ease .5s;
    width: 100%;
}

main .slider .item {
    min-width: 100%;
}

main .slider .item img {
    width: 100%;
    display: block;
}
main .slider .buttonBox {
    position: absolute;
    top: 50%;
    left: -30px;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

main .slider .buttonBox button {
    pointer-events: auto;
    padding: 6px 12px;
    border-radius: 50%;
    border: 5px solid white;
    background: rgba(243, 249, 251, 1);
    color: rgba(0, 142, 204, 1);
}
body{
    position: relative;
}
.popup-model{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    background-color:rgba(217, 217, 217, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.popup-model.active{
    display: flex;
}
