#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    > *{
        display: inline-block;
        font-size: 12px;
        padding: 6px 12px ;
    }
    > *.active{
        background-color:rgba(217, 217, 217, 1);
    }
}