main > *{
    max-width: 1024px;
    padding: 20px 50px;
    margin: 0 auto;
}
main .title a {
    color: black;
    text-decoration: none;
}
main .title {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}
main .title > *{
    text-align:center;
    flex: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(119, 118, 118, 1);
    font-size: 20px;
    color: rgba(119, 118, 118, 1)
}
main .title > *.active{
    border-bottom: 1px solid rgba(212, 26, 26, 1);
       color: rgba(212, 26, 26, 1);
}
.formPayment {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formPayment .form {
  background-color: rgba(248, 248, 248, 1);
  padding: 12px;
  border-radius: 10px;
}
.formPayment .form .row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.formPayment .form .row:not(:last-child) {
  margin-bottom: 12px;
}
.formPayment .form.row p:first-child {
  color: rgba(119, 118, 118, 1);
}
.formPayment .form.bill .row p:first-child {
  flex-basis: 70%;
}
.formPayment .form.bill .row:first-child p:first-child {
  padding-bottom: 12px;
  margin-left: 0 !important;
  border-bottom: 1px solid rgba(119, 118, 118, 1);
  padding-left: 6px;
}
.formPayment .form .row input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(248, 248, 248, 1);
}
.formPayment .form .row button {
  background-color: white;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
  padding: 6px 12px;
}
.formPayment .form.bill .row:last-child {
  padding-top: 12px;
  border-top: 1px solid black;
}
.formPayment .form .row > p:first-child {
  margin-left: 6px;
}
.formPayment .form .row > p:last-child {
  margin-right: 6px;
}

.formPayment .info h3 {
  margin-bottom: 10px;
}
.formPayment .payment .row p:first-child {
  color: #000;
}
.formPayment .info.payment .form .row p:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formPayment .info.payment .form .row p:last-child {
  color: rgba(119, 118, 118, 1);
}
.formPayment .customer .form .row p:first-child {
  flex-basis: 30%;
}
.formPayment .verify {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formPayment .verify .row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formPayment .verify .row input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
}
.formPayment .verify .row input:checked {
  background: url(https://img.freepik.com/free-psd/check-symbol-isolated_23-2150500363.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main{
   position: relative;
}
.order-summary {
    background-color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.order-summary div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-summary .summary-price {
    color: red;
    font-weight: bold;
    font-size: 18px
}

.order-summary .note {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.order-summary .buy-btn {
    background: rgba(212, 26, 26, 1);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.order-summary .buy-btn:hover {
    background:#2c3e50;
}

.orderSuccess{
    display: flex !important;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    width:640px;
    position: fixed;
    bottom: 0;
    right:0 ;
    top:0;
    left: 0;
    .container{
        background-color: rgba(245, 245, 245, 1);
        border-radius: 10px;
        padding: 32px ;
        width: 100%;
        .icon{
            display:flex;
            align-items: center;
            justify-content:center;
            gap: 10px;
            margin-bottom: 30px;
            p{
                font-size: 18px;
            }
        }
        > p{
            margin-bottom: 30px;
            text-align: center;
        }
        .button{
            display:flex;
            align-items: center;
            justify-content:center;
            gap: 10px;
            button{
                border: 1px solid rgba(209, 206, 206, 1);
                border-radius: 10px;
                padding: 12px 24px;
                background-color:white;
            }
        }
    }
}