body{
    position: relative;
}
.popup-model{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    background-color:rgba(217, 217, 217, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.popup-model.active{
    display: flex;
}
