.productReview {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productReview .product .info {
  display: flex;
  height: 100px;
  gap: 10px;
}
.productReview .product img {
  height: 100%;
}
.productReview .product p {
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.productReview .review {
  display: flex;
  gap: 20px;
  align-items: center;
}
.productReview .review .starBox {
  display: flex;
  flex-direction: row-reverse;
}
.productReview .review .starBox span:not(:first-child) {
  padding-right: 10px;
}
.productReview .review .starBox span {
  color: #000;
}
.productReview .review .starBox span:hover,
.productReview .review .starBox span:hover ~ span {
  color: rgba(255, 237, 37, 1);
}
.productReview .review .starBox span.selected {
  color: rgba(255, 237, 37, 1);
}
.formReview {
  margin: 0 auto 20px;
  border-radius: 5px;
  background-color: rgba(248, 248, 248, 1);
  padding: 12px;
}
.formReview  p {
  padding: 8px;
  margin-bottom: 20px;
}
.formReview .formGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.formReview .formGroup input {
  border: none;
  outline: none;
  background-color: rgba(248, 248, 248, 1);
  flex-grow: 1;
}
.formReview .formGroup input[type="file"] {
  display: none;
}
.formReview label{
    font-size: 14px;
    span:first-child{
        font-size: 20px;
    }
    span:last-child{
        font-size: 14px;
    }
}
.formReview label.img {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
  padding: 2px 6px;
}
.formReview .contentInput{
    margin: 0 0 20px;
    background-color: rgba(248, 248, 248, 1);
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(119, 118, 118, 1);
}
.submit {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.submit button {
  padding: 6px 12px;
  width: 100px;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
  background-color: white;
}
.submit .success {
  background-color: rgba(0, 85, 170, 1);
  color: white;
}

.imgBox {
  position: relative;
}
.imgBox span {
  position: absolute;
  top: -15px;
  right: -10px;
}
.mediaPreviewContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.preview-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    img, video{
        width: 80px;
        height: 80px;
    }
    span{
        position: absolute;
        top: 0;
        right: 10px;
        color: white;
        background-color: #ccc;
        border-radius: 100%;
        font-size: 14px ;
    }
}


