.reviewItem{
    display: flex;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.reviewItem:not(:first-child){
    margin-top  : 20px;
}
.reviewItem .imgBox img{
    width: 50px;
    height: 50px;
}
.reviewItem .content{
    flex-grow: 1;
}
.reviewItem .content > *:not(:last-child){
    margin-bottom: 10px;
}
.reviewItem .content .name {
    font-size: 18px;
}
.reviewItem .content .starBox .star{
    font-size: 16px;
}
.reviewItem .content .starBox .star.active{
    color: rgba(212, 26, 26, 1);
}
.reviewItem .content .dateAndCategory{
    display: flex;
    color: rgba(119, 118, 118, 1);
}
.reviewItem .content .dateAndCategory .date{
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid rgba(119, 118, 118, 1);
}
.reviewItem .content .summaryBox > div{
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin-bottom: 5px;
}
.reviewItem .content .summaryBox > div p:first-child{
    color: rgba(119, 118, 118, 1);
}
.reviewItem .content .imgReviewBox{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.reviewItem .content .imgReviewBox .imgBox{
    display: flex;
    align-items: center;
    justify-content:center;
}
.reviewItem .content .imgReviewBox img{
    width: 80px;
    height: 80px;
}

.reviewItem .reviewReply{
    background-color: rgba(237, 235, 235, 1);
    padding: 16px;

    h3{
        background-color: rgba(237, 235, 235, 1);
        margin-bottom: 20px;
        font-size: 16px;
    }
    p{
        line-height: 1.5;
    }
}

