main{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px 50px;
}
main .nav {
    text-align: center;
    position: relative;
}
main h2{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(136, 135, 135, 1);
    font-size: 20px;
}
main .nav span {
  position: absolute;
  top: 0;
  left: 10%;
}
body{
    position: relative;
}
.popup-model{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    background-color:rgba(217, 217, 217, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.popup-model.active{
    display: flex;
}


