.productReview {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productReview .product .info {
  display: flex;
  height: 100px;
  gap: 10px;
}
.productReview .product img {
  height: 100%;
}
.productReview .product p {
  font-weight: 500;
}
.productReview .review {
  display: flex;
  gap: 20px;
  align-items: center;
}
.productReview .review .starBox {
  display: flex;
  flex-direction: row-reverse;
}
.productReview .review .starBox span:not(:first-child) {
  padding-right: 10px;
}
.productReview .review .starBox span {
  color: #000;
}
.productReview .review .starBox span:hover,
.productReview .review .starBox span:hover ~ span {
  color: rgba(255, 237, 37, 1);
}
.productReview .review .starBox span.selected {
  color: rgba(255, 237, 37, 1);
}

.formReview {
  margin: 0 auto 20px;
  border-radius: 5px;
  background-color: rgba(248, 248, 248, 1);
  padding: 12px;
}
.formReview > p {
  padding: 8px;
  margin-bottom: 20px;
}
.formReview form {
  padding: 8px;
  border-bottom: 1px solid rgba(119, 118, 118, 1);
}
.formReview .formGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.formReview .formGroup.column {
  flex-direction: column;
}
.formReview .formGroup input {
  border: none;
  outline: none;
  background-color: rgba(248, 248, 248, 1);
  flex-grow: 1;
}
.formReview .formGroup #file {
  display: none;
}
.formReview .image label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
  padding: 6px 12px;
}
.formReview .image {
  border: none;
}
.submit {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.submit button {
  padding: 6px 12px;
  width: 100px;
  border: 1px solid rgba(209, 206, 206, 1);
  border-radius: 5px;
  background-color: white;
}
.submit .success {
  background-color: rgba(0, 85, 170, 1);
  color: white;
}
#mediaPreviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
/* #mediaPreviewContainer > * {

} */
.imgBox {
  position: relative;
}
.imgBox span {
  position: absolute;
  top: -15px;
  right: -10px;
}
