.reviewItem{
    display: flex;
    align-items: top;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(136, 135, 135, 1);
    margin-top  : 20px;
}
.reviewItem .imgBox img{
    width: 50px;
    height: 50px;
}
.reviewItem .content{
    flex-grow: 1;
}
.reviewItem .content > *{
    margin-bottom: 10px;
}
.reviewItem .content .name {
    font-size: 18px;
}
.reviewItem .content .starBox .star{
    font-size: 16px;
}
.reviewItem .content .starBox .star.active{
    color: rgba(212, 26, 26, 1);
}
.reviewItem .content .dateAndCategory{
    display: flex;
    color: rgba(119, 118, 118, 1);
}
.reviewItem .content .dateAndCategory .date{
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid rgba(119, 118, 118, 1);
}
.reviewItem .content .summaryBox > div{
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin-bottom: 5px;
}
.reviewItem .content .summaryBox > div p:first-child{
    color: rgba(119, 118, 118, 1);
}

.reviewItem .content .imgReviewBox img{
    width: 95px;
    heigth: 95px;
    margin-right: 10px;
}

.reviewItem .reviewReply{
    background-color: rgba(237, 235, 235, 1);
    padding: 16px;

    h3{
        background-color: rgba(237, 235, 235, 1);
        margin-bottom: 20px;
        font-size: 16px;
    }
    p{
        line-height: 1.5;
    }
}

