main{
    max-width: 1024px;
    padding: 30px 50px;
    margin: 0 auto;
}
main > *{
    margin-bottom: 20px;
}
.productContainer .productBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 16px;
}
.productContainer .productBox > * {
    max-width: 180px;
}
.resultBox p{
    text-align:center;
}
.filterBox {
    display: flex;
    gap: 10px;
    button{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .3);
        gap: 10px;
        color: black;
    }
    button.active{
        background-color: #009981;
        border: 1px solid #009981;
        color: white;
    }
}