main > *{
    max-width: 1024px;
    padding: 30px 50px;
    margin: 0 auto;
}
.productContainer .productBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
}
.resultBox p{
    text-align:center;
}