{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_cart.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<main>

</main>
{% endblock %}
{% block extra_js %}
<script>
    const staticUrl = "{% static 'assets/img/cartEmpty.png' %}";
    const homeUrl = "{% url 'home' %}";
</script>
<script src="{% static 'js/cart/cart.js' %}" type="module"></script>
{% endblock %}