{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/changePassword.css' %}">
{% endblock %}

{% block content %}
<main>
    <h1>Đổi mật khẩu</h1>
    <form>
        <div class="input-group">
            <label>Nhập mật khẩu hiện tại</label>
            <input type="password" placeholder="****************"/>
        </div>

        <div class="input-group">
            <label>Nhập mật khẩu mới</label>
            <input type="password" placeholder="****************"/>
        </div>

        <div class="input-group">
            <label>Nhập lại mật khẩu mới</label>
            <input type="password" placeholder="****************"/>
        </div>

        <button type="submit">Thay đổi mật khẩu</button>
    </form>
</main>
{% endblock %}
{% block extra_js %}
<script>
</script>
{% endblock %}
