{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/changePassword.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="changePasswordContainer">
        <h1>Đổi mật khẩu</h1>
        <form method='POST' action="">
            {% csrf_token %}
            <div class="input-group">
                <label for="currentPassword">Nhập mật khẩu hiện tại</label>
                <input id="currentPassword" type="password" placeholder="****************" name='currentPassword'/>
                <span class="error-message"></span>
            </div>
            <div class="input-group">
                <label for="newPassword">Nhập mật khẩu mới</label>
                <input id='newPassword' type="password" placeholder="****************" name='newPassword'/>
                <span class="error-message"></span>
            </div>
            <div class="input-group">
                <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                <input id='confirmNewPassword' type="password" placeholder="****************"
                       name='confirmNewPassword'/>
                <span class="error-message"></span>
            </div>
            <button type="submit">Thay đổi mật khẩu</button>
        </form>
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/changePassword/changePassword.js' %}" type="module"></script>
{% endblock %}
