{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/popupSuccess.css' %}">
<link rel="stylesheet" href="{% static 'css/reviewItem.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="productBox">
        <div class="imgBox">
            <div class="slider">
                <div class="viewport">
                    <div class="listImg">
                    </div>
                </div>
                <div class="buttonBox">
                    <button class="prev">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </button>
                    <button class="next">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="detail">
            <h3 class="name"></h3>
            <div class="reviewBox">
                <div class="rating">
                </div>
                <div class="comment">
                </div>
            </div>
            <div class="priceBox">
            </div>
            <div class="categoryBox">
                <p>Phiên bản</p>
            </div>
            <div class="colorBox">
                <p>Màu sắc</p>
            </div>
            <div class="quantityBox">
                <p>Số lượng</p>
                <div class="quantity">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>
            </div>
            <div class="buttonBox">
                <button>
                    <span class="material-symbols-outlined"> shopping_cart </span>
                    <p>Thêm vào giỏ hàng</p>
                </button>
                <button>
                    <p>Mua ngay</p>
                </button>
            </div>
        </div>
    </section>
    <section class="contentBox">
        <div class="detailsBox">
            <h3>CHI TIẾT SẢN PHẨM</h3>
            <div class="main">
            </div>
        </div>
        <div class="descriptionBox">
            <h3>MÔ TẢ SẢN PHẨM</h3>
            <p></p>
        </div>
    </section>
    <section class="reviewBox" style="margin-top: -40px">
        <h3>ĐÁNH GIÁ SẢN PHẨM</h3>
        <div class="menu">
            <div class="rating">
            </div>
            <div class="filter">
                <button class='all'>Tất cả</button>
                <button class='all fiveStar'>5 sao</button>
                <button class='all fourStar'>4 sao</button>
                <button class='all threeStar'>3 sao</button>
                <button class='all twoStar'>2 sao</button>
                <button class='all oneStar'>1 sao</button>
                <button class="twoColumn haveComment">Có bình luận</button>
                <button class="twoColumn haveImg">Có hình Ảnh/ Video</button>
            </div>
        </div>
        <div class="reviewItemContainer">
        </div>
        <div id="pagination">
        </div>
    </section>
</main>
<div class="popup-model success">
    {% with title="Sản phẩm đã thêm vào giỏ hàng" status='' %}
    {% include 'components/components/popupSuccess.html' with status=status title=title %}
    {% endwith %}
</div>
<div class="popup-model warning">
    {% with title="Sản phẩm đã tồn tại trong giỏ hàng" status='warning' %}
    {% include 'components/components/popupSuccess.html' with status=status title=title %}
    {% endwith %}
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/detail/detail.js' %}" type="module"></script>
<script src="{% static 'js/detail/popup.js' %}"></script>
{% endblock %}
