{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/reviewItem.css' %}">
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="productBox">
        <div class="imgBox">
          <img
            src="https://s3-alpha-sig.figma.com/img/e867/7de7/7ddabb62dd6880a5800447feaefa167c?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Kc1etZdwFHeV6evF8Ry5qWhnOj2xtMCtilJl1gEgrp-itr7sI8DOCf52ucdl1YFPS605zwlnJaG584yVDlCzQtoR7NoIG430CCca7R0Nq8Zr8Naa2Pg~MssUU9uRgRjQ7Bl3N0vnsM0tQWwfX3uZqQjsZmtOvBIkFWCupdwuzd4EzNy2tlrduJ2X8FE6xpjTbB-NRmt09rlwj9PY~rEIJL27acBf1RTtibuV7krIiDJOAWKJn10KgxF3C3kULcJd2b-X0nbgvjUXhN3cMgoEsPVjUJEhwPZO~BvsI4diYU~KUDRJLGdXCIktAPVkml3BaFGSDxrbq41D-jINTX5pHw__"
            alt=""
          />
        </div>
        <div class="detail">
          <p class="name">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
          <div class="reviewBox">
            <div class="rating">
              <p><u>4.9</u></p>
              <div class="starBox">
                <span class="material-symbols-outlined star"> kid_star </span>
                <span class="material-symbols-outlined star"> kid_star </span>
                <span class="material-symbols-outlined star"> kid_star </span>
                <span class="material-symbols-outlined star"> kid_star </span>
                <span class="material-symbols-outlined star"> kid_star </span>
              </div>
            </div>
            <div class="comment">
              <p><u style="color: black">10</u> Đánh giá</p>
            </div>
          </div>
          <div class="priceBox">
            <p class="afterDiscount">31.290.000đ</p>
            <p class="beforeDiscount">
              <small><s>34.990.000đ</s></small>
            </p>
          </div>
          <div class="categoryBox">
            <p>Phân loại</p>
            <div class="color">
              <p>Titan Đen</p>
            </div>
            <div class="color">
              <p>Titan Trắng</p>
            </div>
            <div class="color">
              <p>Titan Sa mạc</p>
            </div>
            <div class="color">
              <p>Titan Tự nhiên</p>
            </div>
          </div>
          <div class="quantityBox">
            <p>Số lượng</p>
            <div class="quantity">
              <p>-</p>
              <p>1</p>
              <p>+</p>
            </div>
          </div>
          <div class="buttonBox">
            <button>
              <span class="material-symbols-outlined"> shopping_cart </span>
              <p>Thêm vào giỏ hàng</p>
            </button>
            <button>
              <p>Mua ngay</p>
            </button>
          </div>
        </div>
    </section>
    <section class="contentBox">
        <div class="detailsBox">
          <h3>CHI TIẾT SẢN PHẨM</h3>
          <div class="detail">
            <p>Danh mục</p>
            <p>Điện thoại</p>
          </div>
          <div class="detail">
            <p>Kho</p>
            <p>23</p>
          </div>
          <div class="detail">
            <p>Thương hiệu</p>
            <p>Apple</p>
          </div>
          <div class="detail">
            <p>Dung lượng lưu trữ</p>
            <p>256GB</p>
          </div>
          <div class="detail">
            <p>Loại bảo hành</p>
            <p>Bảo hành nhà sản xuất</p>
          </div>
          <div class="detail">
            <p>Hạn bảo hành</p>
            <p>12 tháng</p>
          </div>
          <div class="detail">
            <p>Bộ xử lý</p>
            <p>Apple A18</p>
          </div>
          <div class="detail">
            <p>Độ phân giải camera chính</p>
            <p>48 MP</p>
          </div>
          <div class="detail">
            <p>Kích thước màn hình</p>
            <p>6.9 inches</p>
          </div>
        </div>
        <div class="descriptionBox">
          <h3>MÔ TẢ SẢN PHẨM</h3>
          <p>
            - Tính thẩm mỹ cao nhờ kích thước màn hình lớn hơn cùng viền
            bezelnhỏ hơn.<br />
            - Trang bị cảm biến quad-pixel thế hệ 2, độ phân giải 48MP tăng chất
            lượng quay chụp. <br />
            - Camera siêu tele x5 tăng khả năng zoom quang học. <br />
            - Sử dụng chipset mới A18 Pro tăng hiệu suất máy. <br />
            - Tínhnăng Camera Control như máy ảnh chuyên nghiệp. <br />
            - iPhone 16 Pro Max 256GB sử dụng camera fushion 48MP với cảm biến
            quad-pixel thế hệ thứ 2. Đây chính là điểm cải tiến vượt trội giúp
            phiên bản iPhone 16 Pro Max nâng cấp khả năng chụp ảnh lên một “tầm
            cao” mới.
          </p>
        </div>
    </section>
     <section class="reviewBox" style="margin-top: -40px">
      <h3>ĐÁNH GIÁ SẢN PHẨM</h3>
      <div class="menu">
        <div class="rating">
          <p><strong>4.9</strong> trên 5</p>
          <div class="starBox">
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
            <span class="material-symbols-outlined star"> kid_star </span>
          </div>
        </div>
        <div class="filter">
            <button>Tất cả</button>
            <button>5 sao</button>
            <button>4 sao</button>
            <button>3 sao</button>
            <button>2 sao</button>
            <button>1 sao</button>
            <button class="twoColumn">Có bình luận</button>
            <button class="twoColumn">Có hình Ảnh/ Video</button>
        </div>
      </div>
        <div class="review">
            {% include 'components/components/review_item.html' %}
            {% include 'components/components/review_item.html' %}
            {% include 'components/components/review_item.html' %}
            {% include 'components/components/review_item.html' %}
            <div class="paginationBox" style="margin-top: 20px">
                {% include 'components/components/pagination.html'  %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
