{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="form-container">
        <form>
            <h2>Tìm tài khoản của bạn</h2>
            <div class="input-group">
                <label for="email">Vui lòng nhập email để tìm tài khoản của bạn</label>
                <input type="email" placeholder="Nhập email của bạn" id="email">
                <span class="error-message"
                      style=" margin-top: 10px; color: red; display: inline-block; font-size: 16px;">
                </span>
            </div>
            <div class="buttonBox">
                <button class="cancel">Hủy</button>
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/forgotPassword/forgotPassword.js' %}" type="module"></script>
{% endblock %}