{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subMenu.css' %}">
<link rel="stylesheet" href="{% static 'css/product_item.css' %}">
<link rel="stylesheet" href="{% static 'css/title_v1.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="sliderContainer">
        {% include 'components/components/subMenu.html' %}
        <div class="slider">
            <div class="viewport">
                <div class="listImg">
                    <div class="item">
                        <img src="{% static 'assets/img/slider1.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/img/slider2.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/img/slider3.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="buttonBox">
                <button class="prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </button>
                <button class="next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </button>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/home/home.js' %}" type="module"></script>
{% endblock %}
