{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_order.css' %}">
<link rel="stylesheet" href="{% static 'css/info_order.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="title">
        <div class="infoBox active">
            1. Thông tin
        </div>
        <div class="paymentBox">
            2.Thanh toán
        </div>
    </section>
    <section class="productBox">
    </section>
    <section class="infoCustomer info">
        <div class="infoCustomer-title">THÔNG TIN KHÁCH HÀNG</div>
        <div class="info-box">
            <p class="nameCustomer"><strong>NGUYEN VAN A</strong></p>
            <p class="emailCustomer"><strong>EMAIL</strong><br>nguyenvana@gmail.com</p>
            <p class="note">(*) Hóa đơn VAT sẽ được gửi qua email này</p>
        </div>
    </section>
    <section class="infoCustomer address">
        <div class="infoCustomer-title">THÔNG TIN NHẬN HÀNG</div>
        <div class="info-box">
            <p><strong>Giao hàng tận nơi</strong></p>
            <div class="row">
                <div class="city">
                    <label>TỈNH / THÀNH PHỐ</label>
                    <select></select>
                </div>
                <div class="district">
                    <label>Chọn quận/huyện</label>
                    <select></select>
                </div>
                <div class="ward">
                    <label>Chọn phường/xã</label>
                    <select></select>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <input type="text" required placeholder="Nhập địa chỉ chi tiết (Số nhà/thôn/xóm...)"
                       id="address_detail">
            </div>
            <div style="margin-top: 10px;">
                <input type="text" placeholder="Ghi chú (nếu có)" id="note">
            </div>
        </div>
    </section>
    <section class="checkbox">
        <label><input type="checkbox" id="acceptBill"> Yêu cầu xuất hóa đơn công ty</label>
        <p class="note">Với đơn hàng trên 20 triệu đồng, vui lòng thanh toán bằng phương thức chuyển khoản từ tài khoản
            công ty hoặc bằng thẻ công ty. <span class="link">Xem chính sách</span></p>
    </section>
    <section class="order-summary">
        <div>
            <p class="note">
                <strong style="color: black; font-size: 18px;">Tổng tiền tạm tính:</strong><br/>
                Chưa gồm chiết khấu
            </p>
            <p><span class="summary-price">29.490.000đ</span></p>
        </div>
        <button class="buy-btn">Tiếp tục</button>
    </section>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/infoOrder/infoOrder.js' %}" type="module"></script>
{% endblock %}
