{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/infoUser.css' %}">
<link rel="stylesheet" href="{% static 'css/popupSuccess.css' %}">
{% endblock %}
{% block content %}
<main>
</main>
<div class="popup-model">
    {% include 'components/components/popupSuccess.html' with title="Thông tin đã được cập nhật" %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/infoUser/infoUser.js' %}" type="module"></script>
<script src="{% static 'js/infoUser/popup.js' %}" type="module"></script>
{% endblock %}
