{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="logo-background">
        <img src="{% static 'assets/img/logo.png' %}" alt="" class="logo">
    </div>
    <div class="login-form">
        <h2>ĐĂNG NHẬP</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Nhập email">
                <p class="error-message"></p>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Nhập mật khẩu">
                <p class="error-message"></p>
            </div>
            <div class="form-group">
                <p class="forgot-password "><a href="#">Quên mật khẩu</a></p>
            </div>
            <div class="form-group">
                <input type="submit" value='Đăng nhập'>
                <p class="register">Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/login/login.js' %}" type="module"></script>
{% endblock %}