{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/order_status.css' %}">
{% endblock %}

{% block content %}
<main>

    <!--    <section class="orderStatusInfoOder">-->
    <!--        <div class="orderItemBox">-->
    <!--            <div class="orderItem">-->
    <!--                <div class="imgBox">-->
    <!--                    <img src="https://s3-alpha-sig.figma.com/img/b58a/b02c/285d7b791bedb56f10845901a8926d68?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ox~tm1kX20xXu9tMvEDwquMr3F9PccCx5BI40WpOLAtYhnmxCi02DNKIpK0TlOx4K-hbQb9cFNXKA6QoZvtBfA-mtX0pbbWF1zAurujs8XBIPExvgZesNngTGL~AtWUZwB7KGI1UP2b3lly-rvzszVS8T2oAujKy0quEQFeGXdCdbGQ4vsc7x5CpUcYiQqdiKWLUr0-yp-nZ6ibniI5Mi7k3x5FyOnw59s68ZG1LkZVaOs4EuzXin3B1CLNlVc-ZVx52YvO5Z0XaicVrtKgnXZzwuBzWBiD8dymt32QMZJuseKSSLK8~BQ-kvml1VoP9Xe~GYO-oocwXGjZ0PLnY9w__"-->
    <!--                         alt="">-->
    <!--                </div>-->
    <!--                <div class="info">-->
    <!--                    <p class="name">Samsung Galaxy S25 Ultra 256GB-Đen</p>-->
    <!--                    <div>-->
    <!--                        <div class="quantity">Số lượng <span style='color: red;'>1</span></div>-->
    <!--                        <div class="price">-->
    <!--                            <u style="color:rgba(136, 135, 135, 1);">33.990.000đ</u>-->
    <!--                            <strong><span style="color:red; font-size: 18px">29.490.000đ</span></strong>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="orderItemTotalPrice">-->
    <!--            <div class="row">-->
    <!--                <p>Tổng tiền hàng</p>-->
    <!--                <p>29.490.000đ</p>-->
    <!--            </div>-->
    <!--            <div class="row">-->
    <!--                <p>Phí vận chuyển</p>-->
    <!--                <p>Miễn phí</p>-->
    <!--            </div>-->
    <!--            <div class="row">-->
    <!--                <p>Mã giảm giá</p>-->
    <!--                <p>0đ</p>-->
    <!--            </div>-->
    <!--            <div class="row">-->
    <!--                <p>Thành tiền</p>-->
    <!--                <p style="color:red; font-size :18px;">29.490.000đ</p>-->
    <!--            </div>-->
    <!--            <div class="row">-->
    <!--                <p>Tổng tiền hàng</p>-->
    <!--                <p>29.490.000đ</p>-->
    <!--            </div>-->
    <!--            <i>-->
    <!--                <small>Vui lòng thanh toán <span style="color:red;">29.490.000đ</span> khi nhận hàng</small>-->
    <!--            </i>-->
    <!--        </div>-->
    <!--    </section>-->
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/orderStatus/orderStatus.js' %}" type="module"></script>
{% endblock %}