{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/product_order.css' %}">
  <link rel="stylesheet" href="{% static 'css/payment_order.css' %}">
{% endblock %}

{% block content %}
<main>
  <section class="title">
        <div class="infoBox">
          <a href="{% url 'info_order' %}">1. Thông tin</a>
        </div>
        <div class="paymentBox active">
            2.Thanh toán
        </div>
    </section>
</main>
{% endblock %}
