{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
<link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
<link rel="stylesheet" href="{% static 'css/popupSuccess.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="form-container changePassword">
        <form>
            <h2>Tạo mật khẩu mới</h2>
            <div class="input-group">
                <label for="newPassword">Mật khẩu mới</label>
                <input type="password" id="newPassword">
                <span class="error-message"></span>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Nhập lại mật khẩu</label>
                <input type="password" id="confirmPassword">
                <span class="error-message"></span>
            </div>
            <div class="buttonBox">
                <button type="submit">Đổi mật khẩu</button>
            </div>
        </form>
    </div>
</main>
<div class="popup-model success">
    {% include 'components/components/popupSuccess.html' with title="Cập nhật mật khẩu thành công" %}
</div>
<div class="popup-model error">
    {% include 'components/components/popupSuccess.html' with status="error" title="Cập nhật mật khẩu thất bại" %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/resetPassword/resetPassword.js' %}" type="module"></script>
{% endblock %}