{% extends 'components/layout/onlyHeader.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/popupSuccess.css' %}">
<link rel="stylesheet" href="{% static 'css/review_product_item.css' %}">
<link rel="stylesheet" href="{% static 'css/review_product.css' %}">
{% endblock %}
{% block content %}
<main>
    <section class="nav">
        <h2>Đánh giá sản phẩm</h2>
        <span class="material-symbols-outlined back"> arrow_back </span>
    </section>
    <section class="reviewBox">
    </section>
    <section class="submit">
        <button class="back">Trở lại</button>
        <button class="success">Hoàn thành</button>
    </section>
</main>
<div class="popup-model">
    {% include 'components/components/popupSuccess.html' with title="Bạn đã đánh giá thành công" %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/reviewProduct/reviewProduct.js' %}" type="module"></script>
<script src="{% static 'js/reviewProduct/popUp.js' %}" type="module"></script>
{% endblock %}