{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_item.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<main>
</main>
{% endblock %}
{% block extra_js %}
<script>
    const urlImgEmptySearch = "{% static 'assets/img/searchEmpty.png' %}";
</script>
<script src="{% static 'js/search/search.js' %}" type="module"></script>
{% endblock %}

