{% extends 'components/layout/defaultLayout.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_item.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="resultBox">
    </section>
    <section class="productContainer">
        <div class="productBox"></div>
    </section>
    <div id="pagination">
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/search/search.js' %}" type="module"></script>
{% endblock %}

